## API AlphaVantage - Intradiario

#### Importar las librerías necesarias

In [29]:
import requests
import json
import pandas as pd
import psycopg2

#### Leer la contraseña y el token desde la variable de entorno

In [27]:
#my_host = config('DATABASE_MYHOST')
#port = config('DATABASE_PORT')
password = config('DATABASE_PASSWORD')
#database_name = config('DATABASE_NAME')
#user = config('DATABASE_USER')
token = config('ALPHAVANTAGE_TOKEN')

Z6Y4N8r40j

#### Definir la función para obtener datos de AlphaVantage

In [23]:
def getIntra(symbol, interval, size): 
    function = 'TIME_SERIES_INTRADAY'
    url = 'https://www.alphavantage.co/query'
    parametros = {'function': function, 'symbol': symbol, 'interval': interval, 'outputsize': size, 'datatype': json, 'apikey': token}
    
    r = requests.get(url, params=parametros)
    data = r.json()['Time Series ('+interval+')']
    dataDF = pd.DataFrame.from_dict(data, orient='index') # Convertir a DataFrame
    dataDF = dataDF.astype('float')
    dataDF.index.name = 'Fecha'
    dataDF.columns = ['Apertura', 'Maximo', 'Minimo', 'Cierre', 'Volumen']
    dataDF = dataDF.sort_values('Fecha', ascending=True)
    dataDF.index = pd.to_datetime(dataDF.index)
    return dataDF

acciones = ['AMZN', 'MELI', 'AAPL', 'GOOGL', 'MSFT'] # Lista de símbolos de acciones que se van a consultar

#### Crear e imprimir el Dataframe

In [24]:
combined_data = pd.DataFrame() # Inicializar un DataFrame vacío para combinar los datos

# Obtener y combinar los datos de las acciones en el DataFrame
for accion in acciones:
    data = getIntra(symbol=accion, interval='5min', size='compact')
    data['Simbolo'] = accion # Agregar una columna para el símbolo de la acción
    combined_data = pd.concat([combined_data, data])

combined_data = combined_data.round(3) # Redondear los valores a tres decimales

print(combined_data) # Imprimir el DataFrame combinado

                     Apertura  Maximo   Minimo   Cierre   Volumen Simbolo
Fecha
2023-11-10 11:05:00   141.240  141.75  141.235  141.680  713530.0    AMZN
2023-11-10 11:10:00   141.684  141.87  141.540  141.865  929114.0    AMZN
2023-11-10 11:15:00   141.880  142.07  141.830  142.058  861128.0    AMZN
2023-11-10 11:20:00   142.056  142.25  142.030  142.221  598445.0    AMZN
2023-11-10 11:25:00   142.240  142.35  142.020  142.120  570369.0    AMZN
...                       ...     ...      ...      ...       ...     ...
2023-11-10 19:00:00   369.120  369.30  369.120  369.200     908.0    MSFT
2023-11-10 19:05:00   369.300  369.35  369.200  369.250    1384.0    MSFT
2023-11-10 19:10:00   369.390  369.42  369.150  369.150    1103.0    MSFT
2023-11-10 19:15:00   369.220  369.35  369.150  369.250    1583.0    MSFT
2023-11-10 19:20:00   369.350  369.35  369.350  369.350      30.0    MSFT

[500 rows x 6 columns]

#### Conectarse con Amazon Redshift

In [25]:
try:
    conn = psycopg2.connect(host="data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com", port=5439, database="data-engineer-database", user="hvzambrana_coderhouse", password=password)
    print("Conexión a la base de datos exitosa")
except Exception as e:
    print("Error al crear la conexión")
    print(e)

Conexión a la base de datos exitosa

#### Crear la tabla (si no existe)

In [47]:
try:
    cur = conn.cursor()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS hvzambrana_coderhouse.alphavantage (
        simbolo VARCHAR(10) DISTKEY NOT NULL,
        fecha TIMESTAMP SORTKEY NOT NULL,
        apertura FLOAT(15) NULL,
        maximo FLOAT(15) NULL,
        minimo FLOAT(15) NULL,
        cierre FLOAT(15) NULL,
        volumen FLOAT(15) NULL
    );""")

    conn.commit()

except Exception as e:
    print("Error al crear la tabla")
    print(e)

#### Insertar los datos en la tabla

In [48]:
try:
    cur = conn.cursor()
    
    print("Número de registros a insertar:", len(combined_data)) # Imprimir la cantidad de registros a insertar
    
    for index, row in combined_data.iterrows():
        try:
            cur.execute("""
            INSERT INTO hvzambrana_coderhouse.alphavantage (simbolo, fecha, apertura, maximo, minimo, cierre, volumen)
            VALUES (%s, %s, %s, %s, %s, %s, %s);""",
            (row['Simbolo'], index, row['Apertura'], row['Maximo'], row['Minimo'], row['Cierre'], row['Volumen']))

        except psycopg2.IntegrityError as e:
            print(f"Registro duplicado para fecha {index}. No se ha insertado.")

    conn.commit()
    print("Datos insertados con éxito")

except Exception as e:
    print("Error al insertar datos")
    print(e)

Número de registros a insertar: 500
Datos insertados con éxito

#### Cerrar la conexión a la base de datos

In [49]:
conn.close()